include title_names

mixin createMenu(title)
	each value, key in menuPages
		if (value == title)
			a.menu__item.menu__item_active(href=key) #{value}
		else
			a.menu__item(href=key) #{value}

mixin createCurrentPath(title)
	- var found = false
	each value, key in menuPages
		if (title == value)
			span.current-page #{title}
			- found = true

	if (!found)
		span.current-page #{MainPage} > #{title}

mixin createPicturesWithHref(picturesDict)
	each pictureHref, picturePath in picturesDict
		a(href = pictureHref)
			img(src = picturePath)

mixin createTextInput(name, label)
	label(for=name) #{label}
	input(type="text", name=name)

mixin createProcessorsTableRow(...elements)
	tr 
		each col in elements 
			td #{col}